.footer{
  width: 100%;
  font-size: 12px;
  font-family: $font-main;
  background-color: $color-details;
  color: $main-color;
  padding: 0.5em;
  text-align: center;  
  position: fixed;
  bottom: 0;
}