.header {
  height: 39.5vh;
  width: 100vw;
  background-image: url(../images/img6.PNG);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  &__form {
    background-color: $main-color;
    display: flex;
    justify-content: center;
    padding: 1.3em;
    width: 80%;
     box-shadow: 0px 0px 8px 1px rgb(201, 182, 182);
    transform: translateY(50%);
  }
  .form__input {
    border-color: $color-details;
    padding: 3px;
    width: 50em;
    font-family: $font-main;
  }
  .form__btn {
    font-weight: bold;
    font-size: 12px;
    margin-left: 1em;
    padding: 1em;
    background-color: $color-details;
    color: $main-color;
    border-style: hidden;
    border-radius: 70%;
    font-family: $font-main;
    letter-spacing: 1.2px;
    

  }
}
